.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 70px;

    .logo-container {
        padding: 25px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .option {
            padding: 10px 15px;
        }
    }
}